<template>
  <div class="container-fluid">
    <h1>PNC Mini-Game</h1>
    <div class="row team">
      <div class="col-lg-4 blue score">
        Team Blue : {{ teamBlue }}
      </div>
      <div class="col-lg-4">
        Turn {{ turn }} :
        <p v-if="turn%2" class="red">
          Red team plays
        </p>
        <p v-else class="blue">
          Blue team plays
        </p>
      </div>
      <div class="col-lg-4 red score">
        Team Red : {{ teamRed }}
      </div>
    </div>
    <div class="row pb-5">
      <div 
        v-for="(question, index) in questions"
        :key="'question'+index"
        @click.prevent="openQuestion(index)"
        class="col-6 col-lg-2">
        <div class="question" :class="{done : isDone(index)}">
          {{ question.value }}<BR/>points
        </div>
      </div>
    </div>
    <button class="editQuestionButton btn btn-outline-info mr-2" v-b-modal.modal-editquestions>Edit questions</button>
    <button class="editQuestionButton btn btn-outline-danger" @click="resetBoard()">Reset board</button>
    <b-modal id="modal-question" ref="modal-question" @ok="handleGoodAnswer" @hidden="nextTurn" title="Question">
      <p class="questionText">{{ selectedQuestion.question }}</p>
      <p class="questionValue">{{ selectedQuestion.value }} points</p>
      <template #modal-footer="{ ok, cancel }">
        <p class="questionFooterText">How did the team <span v-if="turn%2" class="red">Red</span>
        <span v-else class="blue">Blue</span> answered ?</p>
        <!-- Emulate built in modal footer ok and cancel button actions -->
        <b-button size="lg" variant="success" @click="ok()" class="pncButton">
          Good answer
        </b-button>
        <b-button size="lg" variant="danger" @click="cancel()" class="pncButton">
          Wrong answer
        </b-button>
      </template>
    </b-modal>
    <b-modal id="modal-editquestions" ref="modal-editquestions" size="xl" @show="openEditQuestions" @ok="handleEdit" title="Edit questions">
      <textarea v-model="editedQuestions" rows="20" cols="100" />
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'PNCGame',
  data: function () {
    return {
      turn: 1,
      teamBlue: 0,
      teamRed: 0,
      questions: [],
      selectedQuestion: {},
      doneQuestions : [],
      editedQuestions: "",
    }
  },
  methods: {
    openQuestion(index) {
      if(! this.isDone(index)) {
        this.selectedQuestion = this.questions[index];
        this.doneQuestions.push(index);
        this.$refs['modal-question'].show()
      }
    },
    isDone(index) {
      if(this.doneQuestions.indexOf(index) != -1) {
        return true;
      }
      return false;
    },
    openEditQuestions() {
      this.editedQuestions = JSON.stringify(this.questions).replaceAll("},{", "},\n{");
    },
    handleEdit() {
      this.questions = JSON.parse(this.editedQuestions);
      this.resetBoard();
    },
    resetBoard() {
      this.teamRed = 0;
      this.teamBlue = 0;
      this.turn = 1;
      this.doneQuestions = [];
    },
    handleGoodAnswer() {
      if(this.turn % 2){
        this.teamRed += this.selectedQuestion.value;
      } else {
        this.teamBlue += this.selectedQuestion.value;
      }
    },
    nextTurn() {
      this.turn += 1;
    }
  },
  mounted: function () {
    this.axios.get('data.json').then((response) => {
      this.questions = response.data;
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
textarea {
  font-family: 'Courier New', Courier, monospace;
}
.pncButton {
  font-size: 2rem;
}
.team {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}
.done {
  background-color: #2c3e50 !important;
}
.questionText {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
}
.questionValue {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}
.questionFooterText {
  width:100%;
  text-align: center;
  font-size: 1.5rem;
}
.question {
  border-radius: 25px;
  background-color: #2ecc71;
  font-size: 3.5rem;
  padding: 15px;
  margin: 5px;
  width: 100%;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.33s;
  border: 5px solid #2c3e50;
  line-height: 3rem;
}
.question:hover {
  cursor:pointer;
  transform: rotate(5deg);
  color:#f1c40f;
  background-color: #9b59b6;
  border: 5px solid #f1c40f;
}
.red {
  color: red;
}
.score {
  font-size: 4rem;
}
.blue {
  color:blue;
}
h1 {
  background-color: #3498db;
  color: white;
  font-size: 4rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
