<template>
  <div id="app">
    <PNCGame />
  </div>
</template>

<script>
import PNCGame from './components/PNCGame.vue'

export default {
  name: 'App',
  components: {
    PNCGame
  }
}
</script>

<style>
body, #app {
  font-family: 'Nerko One', cursive, Avenir, Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
